@model Check_Out_App_ULC.Models.tb_ItemRepair

@using System.Web.Mvc.Html;

@{
    ViewBag.Title = "Trello";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="text-align: center;" >
    <h2>Trello API</h2>

</div>
@if (ViewBag.Message != null)
{
    <p style="font-size:24px"> <span>@ViewBag.Message</span></p>
}

<div style="border:12px; border-style:solid; border-color:#002db3; padding: 1em;">
    <p style="font-size:16px"><u>@Html.ActionLink("Get Boards List", "GetBoardsList", "tb_ItemRepair")</u></p>
    <br />
</div>

<hr />

@using (Html.BeginForm("GetCardsList", "tb_ItemRepair", FormMethod.Post))
{
    <div style="border:3px; border-style:solid; border-color:#00245a; padding: 2em;">
        <center>
            <p style="font-size:22px"><strong>Select a location to retrieve it's cards</strong></p>
            @Html.DropDownList("board", new List<SelectListItem>
                {
                new SelectListItem{ Text = "LSC", Value = "LSC" },
                new SelectListItem{ Text = "BSB", Value = "BSB" },
                new SelectListItem{ Text = "TLT", Value = "TLT" }
                }, new { onchange = "getAlldata()" })
            &nbsp&nbsp <input type="submit" value="Submit" />
        </center>
    </div>
}

<hr />

@using (Html.BeginForm("GenerateNewCards", "tb_ItemRepair", FormMethod.Post))
{
    <div style="border:3px; border-style:solid; border-color:#00245a; padding: 2em;">
        <center>
            <p style="font-size:22px"><strong>Select a location to generate new cards for it's inventory</strong></p>
            @Html.DropDownList("location", new List<SelectListItem>
                {
                new SelectListItem{ Text = "LSC", Value = "LSC" },
                new SelectListItem{ Text = "BSB", Value = "BSB" },
                new SelectListItem{ Text = "TLT", Value = "TLT" }
                }, new { onchange = "getAlldata()" })
            &nbsp&nbsp <input type="submit" value="Submit" />
        </center>
    </div>
}