@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<div>
    <address>
        <strong>Support:</strong> John Russell
        <phone>
            (970) 491-3108
        </phone> <a href="mailto:jdruss@colostate.edu"> or email for support!</a><br />
    </address>
</div>