
@{
    ViewBag.Title = "Zoidberg";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="zoidberg">
    <h2>You shouldn't be seeing this. Please reload the home page and try again</h2></div>


